<?xml version="1.0"?>
<appSettings>
  <add key="baseApiUrl" value="http://www.paraapublications.com/testws/api/" />
<!--<add key="baseApiUrl" value="http://localhost:63118/api/" />-->
  <add key="FilesURL10" value="http://www.paraapublications.com/testws/"/>

  <add key="SupportEmail" value="support@paraapublications.com"></add>
  <add key="SupportPwd" value="Visakha123"/>
  <add key="MailHost" value="mail.paraapublications.com"/>

  <add key="baseUrl" value="http://www.paraapublications.com/"/>
  <add key="EmailTemplatePath" value="/EmailTemplates/" />
  <add key="EmailTemplateImagesUrl" value="/EmailTemplates/images/" />
  
</appSettings>
