<connectionStrings>
  <add name="JournalConnection" providerName="System.Data.SqlClient" connectionString="server=103.14.120.147;uid=journal; pwd=Zc7q5k4_;database=paraapub_Journals;" />
  <!--<add name="JournalConnection" providerName="System.Data.SqlClient" connectionString="server=localhost;uid=sa; pwd=Passw0rd;database=Journals;"/>-->
</connectionStrings>